<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{var title}} @-->

{{template config_path="design/email/header_template"}}

<table>    
    <tr class="email-summary">
        <td>
            <h1>{{var title}}</h1>
            <p>A continuación encontrarás la referencia de pago, con la cual podrás presentarte en tu tienda más cercana para realizar tu pago.</p>
            </p>
            <img src=`{{var adicional._paycash_pay_logo}}` alt="PayCash" width="650" height="100">
            </p>
            <h1>Referencia: </h1>
            </p>
            <h3>{{var adicional._paychash_pay_autorization_token}}</h3>
            <h3>Tiempo limite dias: {{var adicional._paychash_pay_day_limit}}</h3>
            </p>
        </td>
    </tr>    
</table>


{{template config_path="design/email/footer_template"}}
