<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">    
    <default>
        <!-- <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>   -->     
        <payment>
            <paycash_pay>
                <active>0</active>
                <model>Paycash\Pay\Model\Payment</model>
                <order_status>pending</order_status>
                <title>Paga en efectivo con PayCash</title> 
                <allowspecific>0</allowspecific>
                <group>offline</group>
                
                <pc_activo>0</pc_activo>
                <pc_pruebas>1</pc_pruebas>
                <pc_apitestkey></pc_apitestkey>
                <pc_apiproductionkey></pc_apiproductionkey>
                <pc_pais>MX</pc_pais>                
                <pc_diasvigencia>3</pc_diasvigencia>
                <description>Realiza tu pago en efectivo en cualquiera de los establecimientos afiliados a PayCash con la referencia mostrada a continuación</description>
                <instructions>Realiza tu pago en efectivo en cualquiera de los establecimientos afiliados a PayCash con la referencia mostrada a continuación</instructions>                                             
            </paycash_pay>
        </payment>
    </default>
</config>
