<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">    
    <default>   
        <payment>
            <paycash_pay>
                <model>Paycash\Pay\Model\Payment</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                
                <active>0</active>
                <sandbox>1</sandbox>
                <title>Paga en efectivo con PayCash</title> 
                <test_apikey></test_apikey>
                <production_apikey></production_apikey>
                <country>MX</country>                
                <validity>3</validity>
                <description>Realiza tu pago en efectivo en cualquiera de los establecimientos afiliados a PayCash con la referencia mostrada a continuación</description>
                <instructions>Realiza tu pago en efectivo en cualquiera de los establecimientos afiliados a PayCash con la referencia mostrada a continuación</instructions>                                             
            </paycash_pay>
        </payment>
    </default>
</config>
