<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Paycash\Pay\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="paycash_pay" xsi:type="const">Paycash\Pay\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>    
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="paycash_stores_config_provider" xsi:type="object">Paycash\Pay\Model\PaycashConfigProvider</item>
            </argument>
        </arguments>
    </type>        
</config>
