<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paycash_pay" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paycash</label>
                <comment>
                    <![CDATA[<a href="https://www.paycashglobal.com/" target="_blank">Crea tu cuenta en Paycash Global </a>]]>
                </comment>
                <field id="pc_activo" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Activar/Desactivar</label>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Activa o desactiva el método de pago.</comment> 
                </field>                
                <field id="pc_pruebas" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Modo Pruebas</label>
                    <validate>required-entry</validate>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Activa el modo de pruebas al estar seleccionado.</comment> 
                </field> 
                <field id="pc_mensaje" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mensaje</label>                    
                    <validate>required-entry</validate>                      
                    <comment>Título mostrado en la página de pago.</comment> 
                </field> 
                <field id="pc_apitestkey" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>PayCash API Test Key</label>                    
                    <validate>required-entry</validate>                      
                    <comment>Llave API de ambiente de pruebas (sandbox).</comment> 
                </field> 
                <field id="pc_apiproductionkey" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>PayCash API Production Key</label>                    
                    <validate>required-entry</validate>                      
                    <comment>Llave API de producción.</comment> 
                </field>
                <field id="pc_pais" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>País</label>
                    <validate>required-entry</validate>
                    <source_model>Paycash\Pay\Model\Source\Countries::getOptions</source_model>     
                    <comment>Seleccione el país.</comment>                
                </field>
                <field id="pc_diasvigencia" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Vigencia (en días)</label>                    
                    <validate>required-entry</validate>                      
                    <comment>Dejar vacío para no especificar vigencia.</comment> 
                </field>     
                <field id="pc_descripcion" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Descripción</label>                    
                    <validate>required-entry</validate>                      
                    <comment>Descripción mostrada en la página de pago.</comment> 
                </field>     
                <field id="pc_instrucciones" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Instrucciones</label>                    
                    <validate>required-entry</validate>                      
                    <comment>Descripción mostrada en correos electrónicos y notificaciones.</comment> 
                </field>
            </group>
        </section>
    </system>
</config>
