<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paycash_pay" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paycash </label>
                <comment>
                    <![CDATA[<a href="https://www.paycashglobal.com/" target="_blank">Crea tu cuenta en Paycash Global /a>]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Habilitar Modulo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                
                <field id="is_sandbox" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Entorno de pruebas</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>         
                <field id="country" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>País</label>
                    <source_model>Paycash\Pay\Model\Source\Countries::getOptions</source_model>                    
                </field>                        
                <field id="title" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Descripcion</label>
                </field>
                <field id="sandbox_sk" translate="label" type="obscure" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>PayCash API Test Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="is_sandbox">1</field>
                    </depends>               
                </field>                
                <field id="live_sk" translate="label" type="obscure" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>PayCash API Production Key</label> 
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="is_sandbox">0</field>
                    </depends>                         
                </field>  
                <field id="deadline_hours" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Vigencia (en horas)</label>                    
                    <validate>required-entry</validate>                      
                    <comment>Define cuanl sera el máximo en horas que tendrá el cliente para pagar una vez que se genera el recibo de pago.</comment> 
                </field>     
             
            </group>
        </section>
    </system>
</config>
